@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&family=Protest+Guerrilla&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", serif;
    background-color: #121212;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00AB55 0%, #05644c 100%);
}


.container {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(imagens/leao.png);
    border: 3px solid #f4f4f4;
    border-radius: 15px;
    padding: 40px;
    width: 70%;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}


h1 {
    font-family: "Protest Guerrilla", sans-serif;
    color: #f44336; 
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 4px 4px 0 #000;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.text-section {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: justify;
    color: #d3d3d3;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.bottom-text {
    margin-top: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: #d3d3d3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


h1:hover {
    color: #ff6f61;
    text-shadow: 0 0 20px #ff6f61, 0 0 30px #ff6f61;
}

.container:hover {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}


.image-section img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    z-index: 1;
}
.container > * {
    position: relative;
    z-index: 2;
}